.dollar-symbol{
    background-color: #01D167;
    border-radius: 4px;
    padding: 2px 12px;
    margin-right: 10px;
}

.dollar-value{
    font-size: 24px;
    font-weight: 600;
}

.header-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.active-nav{
    padding-bottom: 6px;
    border-bottom: 2px solid #23CEFD;
}

.new-card-btn1{
    border-radius: 50%;
    color: white;
    background-color: #325BAF;
    border-radius: 4px;
    padding: 9px 12px;
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: flex;
    align-items: center;
    gap: 4px;
    position: relative;
    margin-left : 1200;

}